tap "homebrew/bundle"

# for golang
brew coreutils

# for java
brew jq

# for nodejs and php
brew gawk

# for php--it's just sad
brew autoconf
brew bison
brew gmp
brew gnupg
brew icu4c
brew libiconv
brew libpng
brew libpq
brew libsoidum
brew libzip
brew oniguruma
brew openssl@1.1
brew pkg-config
brew re2c
brew unixodbc

# for ruby
brew libyaml
