!===========================================================================!
! TERM Colors
! https://terminal.sexy
!===========================================================================!
! collection/hybrid
!---------------------------------------------------------------------------!

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

!===========================================================================!
! TERM Font Settings
!===========================================================================!
Xft.antialias:  true
Xft.autohint:   true
! 2.0 scaling of 96 dpi
Xft.dpi:        192
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!===========================================================================!
! rxvt-unicode
!===========================================================================!

!---------------------------------------------------------------------------!
! rxvt-unicode perl extensions
!---------------------------------------------------------------------------!
URxvt.perl-ext-common:           default,selection-to-clipboard,keyboard-select

! keyboard-select: https://github.com/xyb3rt/urxvt-perls
!
! h/j/k/l:    Move cursor left/down/up/right (also with arrow keys)
! g/G/0/^/$/H/M/L/f/F/;/,/w/W/b/B/e/E: More vi-like cursor movement keys
! '/'/?:      Start forward/backward search
! n/N:        Repeat last search, N: in reverse direction
! Ctrl-f/b:   Scroll down/up one screen
! Ctrl-d/u:   Scroll down/up half a screen
! v/V/Ctrl-v: Toggle normal/linewise/blockwise selection
! y/Return:   Copy selection to primary buffer, Return: quit afterwards
! Y:          Copy selected lines to primary buffer or cursor line and quit
! q/Escape:   Quit keyboard selection mode
!---------------------------------------------------------------------------!
URxvt.keysym.M-Escape:           perl:keyboard-select:activate
! overrides default Meta-s to allow selection in backward search mode
URxvt.keysym.M-s:                perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
